* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    background-color: rgb(100, 155, 112);
    background-image: url(./picture/background.jpg);
}

h1 {
    height: 10px;
    margin-left: 550px;
    font-size: 5rem;
    margin-top: 10px;
    transform: translateY(-20rem);
    text-shadow: 0.1em 0.1em 0.2em gray;
    animation: 3s slideIn ease-in forwards, change 0.07s infinite;
}

@keyframes change {
    from {color: rgb(0, 0, 0);}
    to {color: rgb(170, 23, 23);}
}

@keyframes slideIn {
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
}

#Canvas {
    background-color: white;
    border: 2px solid black;
    width: 1050px;
    height: 600;
    border-radius: 5px;
    position: absolute;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
    margin-top: 80px;
    margin-left: 10px;
    transform: translateX(-80rem); 
    animation: 2s slideIn ease-in forwards;
}

#option {
    margin-left: 1075px;
    position: absolute;
}

#Brush-icon {
    margin-left: 50px;
}

#test {
    position: absolute;
}

#Brushsize{
    margin-top: 100px;
    width: 145px;
    height: 10px;
    display: inline-block;
    -webkit-appearance: none;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}

#Brushsize:hover {
    opacity: 1;
}

#Brushsize::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff2222;
    cursor: pointer;
}

#font-family:hover {
    transform:scale(1.2,1.2);
}

#font-family {
    margin-left: 20px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(236, 231, 231);
    transform:scale(1,1);transition: all 0.5s ease-out;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}

#font-size:hover {
    transform:scale(1.2,1.2);
}

#font-size {
    width: 50px;
    margin-left: 10px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(236, 231, 231);
    transform:scale(1,1);transition: all 0.5s ease-out;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}

button:hover {
    background-color: rgba(32, 218, 116, 0.63);
    transform:scale(1.5,1.5);
}
button {
    border-radius: 20px;
    background-color: rgba(245, 228, 233, 0.61);
    transform:scale(1,1);transition: all 0.5s ease-out;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}

#pencil-button {
    height: 35px;
    width: 35px;
    background-image: url('./picture/pencil.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 50px;
    cursor: pointer;
}

#reset-button {
    height: 35px;
    width: 35px;
    border: none;
    background-image: url('./picture/refresh.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 50px;
    cursor: pointer;
}

#eraser-button {
    height: 35px;
    width: 35px;
    border: none;
    background-image: url('./picture/eraser.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 50px;
    cursor: pointer;
}

#undo-button {
    height: 35px;
    width: 35px;
    border: none;
    background-image: url('./picture/undo.png');
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 50px;
    cursor: pointer;
}

#redo-button {
    height: 35px;
    width: 35px;
    border: none;
    background-image: url('./picture/redo.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 50px;
    cursor: pointer;
}

#save-button {
    height: 35px;
    width: 35px;
    border: none;
    background-image: url('./picture/download.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 50px;
    cursor: pointer;
}

#rect-button {
    height: 35px;
    width: 35px;
    border: none;
    background-image: url('./picture/rectangle.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 50px;
    cursor: pointer;
}

#circle-button {
    height: 35px;
    width: 35px;
    border: none;
    background-image: url('./picture/circle.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-left: 50px;
    cursor: pointer;
}

#triangle-button {
    height: 35px;
    width: 35px;
    border: none;
    background-image: url('./picture/triangle.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 80px;
    margin-left: 57px;
    cursor: pointer;
}

#text-button {
    height: 35px;
    width: 35px;
    border: none;
    background-image: url('./picture/text.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 80px;
    margin-left: 100px;
    cursor: pointer;
}

#fill-button {
    height: 35px;
    width: 35px;
    border: none;
    background-image: url('./picture/bucket.png');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 80px;
    margin-left: 192px;
    cursor: pointer;
}

#File {
    border: none;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
    border-radius: 10px;
    background-color: rgba(245, 228, 233, 0.61);
    transform:scale(1,1);transition: all 0.5s ease-out;
}

#File:hover {
    background-color: rgba(32, 218, 116, 0.63);
    transform:scale(1.3,1.3);
}

#uploadFile {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    cursor: pointer;
}

#color-chose:hover {
    transform:scale(1.2,1.2);
}

#color-chose {
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
    transform:scale(1,1);transition: all 0.5s ease-out;
    border-radius: 10px;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
}

/* @media (min-width: 1000px) {
    #Canvas {
        width: 800px;
        height: 500px;
    }
}

@media (min-width: 1400px) {
    #Canvas {
        width: 1050px;
        height: 600px;
    }
}

@media (min-width: 1850px) {
    #Canvas {
        width: 1550px;
        height: 700px;
    }
} */



